<header class="header">
  <nav class="navbar container">
    <a routerLink="/" class="logo">CityMall</a>

   <div class="search-bar d-flex mb-3">
      <input type="text" placeholder="Search for products..."
            [(ngModel)]="motRecherche"
            (keyup)="rechercherProduit()" 
            class="form-control me-2" />
      <button type="button" (click)="rechercherProduit()" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <ul class="nav-links" style="margin-top: 18px;">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/produits" routerLinkActive="active">
          Shop
        </a>
      </li>
      <li *ngIf="!authService.isLoggedIn()">
        <button routerLink="/login" routerLinkActive="active" class="nav-btn">
          Login
        </button>
      </li>

      <li *ngIf="authService.isLoggedIn()">
        <button (click)="logout()" class="nav-btn">
          Logout
        </button>
      </li>
    </ul>

    <div class="cart-icon">
      <i class="fas fa-shopping-cart" routerLink="/panier" routerLinkActive="active"></i>
      <span class="cart-count badge bg-primary">{{ (this.total$| async) || 0}}</span>
    </div>

  </nav>
</header>