<header class="header">
  <nav class="navbar container">
    <a routerLink="/" class="logo">CityMall</a>

    <div class="search-bar">
      <input type="text" placeholder="Search for products..." />
      <button type="submit"><i class="fas fa-search"></i></button>
    </div>

    <ul class="nav-links" style="margin-top: 18px;">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/produits" routerLinkActive="active">
          Shop
        </a>
      </li>
    </ul>

    <!-- Nav icons -->
    <div class="nav-icons">
      <div class="cart-icon">
        <i class="fas fa-shopping-cart" routerLink="/panier" routerLinkActive="active"></i>
        <span class="cart-count">{{ cartTotal }}</span>
      </div>
    </div>
    <!-- Fin nav-icons -->

    <button routerLink="/login" routerLinkActive="active" class="nav-btn">
      Login
    </button>
    
    
  </nav>
</header>
