<main>
  <!-- HERO -->
  <section class="hero-section">
    <div class="container hero-content">
      <h1>Fresh Groceries Delivered Daily</h1>
      <p>
        Get the best quality produce, dairy, and pantry staples delivered to
        your doorstep.
      </p>

      <!-- Shop Now -->
      <a routerLink="/produits" routerLinkActive="active" class="btn btn-primary">
          Shop Now
      </a>
    </div>
  </section>

  <!-- CATEGORIES -->
  <section class="category-section container">
    <h2>Shop by Category</h2>

    <div class="category-grid">
      <div class="category-card">
        <a routerLink="/produits" class="category-link">
          <img src="https://images.pexels.com/photos/1132047/pexels-photo-1132047.jpeg" alt="Fruits" />
          <h3>Fruits</h3>
        </a>
      </div>

      <div class="category-card">
        <a routerLink="/produits" class="category-link">
          <img src="https://images.pexels.com/photos/1435904/pexels-photo-1435904.jpeg" alt="Vegetables" />
          <h3>Vegetables</h3>
        </a>
      </div>

      <div class="category-card">
        <a routerLink="/produits" class="category-link">
          <img src="https://images.pexels.com/photos/248412/pexels-photo-248412.jpeg" alt="Dairy" />
          <h3>Dairy</h3>
        </a>
      </div>

      <div class="category-card">
        <a routerLink="/produits"  class="category-link">
          <img src="https://images.pexels.com/photos/1582482/pexels-photo-1582482.jpeg" alt="Snacks" />
          <h3>Snacks</h3>
        </a>
      </div>
    </div>
  </section>

  <!-- PROMO -->
  <section class="promotional-section">
    <div class="container promo-content">
      <h2>Special Offers!</h2>
      <p>Get up to 20% off on selected organic vegetables this week.</p>

      <a routerLink="/produits" class="btn btn-secondary">View Deals</a>
    </div>
  </section>


</main>
