<!-- Sidebar vertical -->
<aside class="admin-sidebar">

  <h4 class="text-center fw-bold mb-4 border-bottom pb-2">
    Admin City Mall
  </h4>

  <ul class="nav flex-column">

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
        Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/list-boutique" routerLinkActive="active">
        List Boutique
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/list-produit" routerLinkActive="active">
        List Produit
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/list-commande" routerLinkActive="active">
        List Commande
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/list-lot" routerLinkActive="active">
        List Lot
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/boutique-info" routerLinkActive="active">
        Information Boutique
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/ajout-promotion" routerLinkActive="active">
        Ajout Promotion
      </a>
    </li>
    <button class="btn btn-danger mt-4">
      <i class="fas fa-sign-out-alt me-2"></i> Logout
    </button>
  </ul>

</aside>